* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'JetBrains Mono';
}

body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS21wSjibsw_YX0rYRZsre7_SM8W4N6rzp3WTQccZkO80UX2oh4zvKK&usqp=CAE&s);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.container p {
    font-size: 32px;
}

.blink {
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    50% { opacity: 0% }
}
